body{
    background:#a85be7 url(background.png) no-repeat ;
    background-size: cover;
    background-blend-mode: darken;
    color: white;
}
form{
    background-color: rgb(000000, 000000, 000000,0.85);
    margin: auto;
    width: 35em;
    background-blend-mode: lighten;
    
}
input,label{
    margin-bottom:1em;
}
form input,.margin,textarea{
    margin-left: 3.2em;
}
.margininput{
    width:35em;
}
input.submit{
    width: 35em;
    background-color: green;
    color: white;
    font-weight: bold;
    height: 3em;
}
select{
    margin-left: 3.2em;
}
